<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ArchiveDirectory" value="C:\Archive"/>
    <add key="DeleteFilesAfterTransfer" value="false" />
    <add key="EmailPassword" value="679m$12e8?+@Nm[M" />
    <add key="EmailPort" value="25" />
    <add key="EmailServer" value="smtp.office365.com" />
    <add key="EmailServerOld" value="mail.ckerest.com" />
    <add key="EmailUserName" value="RestaurantSystems@ckerests.onmicrosoft.com" />
    <add key="ErrorEmailEnabled" value="true" />
    <add key="ErrorEmailSubject" value="Error in SVS File Processing" />
    <add key="ErrorEmailToAddress" value="mbacon@ckr.com" />
    <add key="SessionLoggingEnabled" value="true" />
    <add key="SvsCarlsSftpPassword" value="gj3qhlkllT~f" />
    <add key="SvsCarlsSftpUserName" value="CARLS" />
    <add key="SvsHardeesSftpPassword" value="jiigdL!aokv2" />
    <add key="SvsHardeesSftpUserName" value="HARDE" />
    <add key="SvsSftpHostName" value="sftp.storedvalue.com" />
    <add key="SvsSftpFingerprint" value="ssh-rsa 2048 e5:b7:c7:6c:75:cc:eb:75:ff:88:29:e7:d1:92:14:be" />
    <add key="SvsZipFileEmail" value="mbacon@ckr.com"/>
    <add key="SvsZipFileName" value="SvsFiles_!YYYY-MM-DD.zip"/>
    <add key="WorkingDirectory" value="Work" />
  </appSettings>
</configuration>